* {
    font-family: Microsoft JhengHei;
}

body {
    background: url("../Content/images/ocean.jpg") no-repeat fixed left bottom;
    background-size: cover;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    height: 150px;
    right: 0;
    left: 0;
}

    .header .info {
        height: 110px;
        background: gray;
        min-width: 600px;
        position: relative;
    }

        .header .info .logo {
            display: inline-block;
            height: 80px;
            width: 80px;
            margin: 15px;
            margin-left: 10vw;
            background: url("../Content/images/17zone-logo.svg") no-repeat;
            background-size: contain;
        }

        .header .info .logo2 {
            display: inline-block;
            height: 80px;
            width: 200px;
            margin: 15px;
            background: url("../Content/images/17zone-logo3.svg") no-repeat;
            background-size: contain;
        }

.icons {
    background: url("../Content/images/icons.svg") no-repeat;
    background-size: contain;
    height: 40px;
    width: 300px;
    position: absolute;
    top: 20px;
    right: 30px;
}

.switchLanguage {
    position: absolute;
    top: 80px;
    right: 45px;
    color: #fff;
    font-size: 14px;
}

.header .nav {
    background: linear-gradient( #364d8e 0%, #1c284a 48%, #4665b9 100%);
    text-align: center;
    min-width: 600px;
}

    .header .nav .item {
        display: inline-block;
        color: #fff;
        padding: 0 10px;
        margin: 0 5px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
    }

.item:hover {
    background: #4665b9;
}

.item:active {
    background: #364d8e;
}

.content {
    margin-top: 150px;
}

.body, .body2 {
    margin: 0 auto;
    color: #fff;
    height: calc(100vh - 150px)
}

.body2 {
    background: #4665b9;
}

.body-info {
    color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 20px;
    font-size: 20px;
}
