<header class="header">
    <div class="info row">
        <div class="col-md-5 col-md-offset-1">
            <div class="logo anchor" data-item="1" style="cursor: pointer"></div>
            <div class="logo2 anchor" data-item="1" style="cursor: pointer"></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="icons"></div>
            <div class="switchLanguage">繁體中文</div>
        </div>
    </div>
    <div class="nav">
        <div class="item anchor" data-item="2">服務介紹</div>
        <div class="item anchor" data-item="3">潛水體驗</div>
        <div class="item anchor" data-item="4">住房資訊</div>
        <div class="item anchor" data-item="5">交通地圖</div>
        <div class="item anchor" data-item="6">活動公告</div>
        <div class="item anchor" data-item="7">聯絡我們</div>
    </div>
</header>

<div class="content">
    <section class="row row-content">

    </section>
    @*服務介紹*@
    <section class="row row-content row-content-yellow">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="image-content"></div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="info-content">
                <h1>文字描述</h1>
                <p>描述內容</p>
            </div>
        </div>
    </section>
    @*潛水體驗*@
    <section class="row row-content row-content-blue">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="info-content">
                <h1>文字描述</h1>
                <p>描述內容</p>
            </div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="image-content image-room2"></div>
        </div>
    </section>
    @*住房資訊*@
    <section class="row row-content row-content-yellow">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="image-content image-room1"></div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="info-content">
                <h1>文字描述</h1>
                <p>描述內容</p>
            </div>
        </div>
    </section>
    @*交通地圖*@
    <section class="row row-content row-content-blue">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="traffic-content">
                <h1>文字描述</h1>
                <p>描述內容</p>
                <h1>文字描述</h1>
                <p>描述內容</p>
            </div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="image-content image-map"></div>
        </div>
    </section>
    @*活動公告*@
    <section class="row row-content row-content-yellow">
        <div class="col-md-6 col-md-offset-4 vertical-middle">
            <div class="activity-content">
                <a href="javascript:void(0);">2017/11/01 在這裡輸入標題</a>
                <a href="javascript:void(0);">2017/11/01 在這裡輸入要顯示的標題</a>
                <a href="javascript:void(0);">2017/11/01 在這裡輸入要顯示的活動標題</a>
                <a href="javascript:void(0);">2017/11/01 可以在這裡輸入要顯示的活動標題</a>
                <a href="javascript:void(0);">2017/11/01 可以在這裡輸入要顯示的活動標題描述</a>
                <a href="javascript:void(0);">more...</a>
            </div>
        </div>
    </section>
    @*聯絡我們*@
    <section class="row row-content row-content-blue">
        <div class="col-md-8 col-md-offset-2 vertical-middle">
            <div class="contact-content">
                <h1>地址</h1>
                <span>屏東縣恆春鎮墾丁路</span>
                <h1>電話</h1>
                <span>07-6543210</span>
                <h1>電子郵件</h1>
                <span>service@mail.com.tw</span>
                <h1>匯款帳號</h1>
                <span>郵局 000 000000-0-000000-0</span>
            </div>
        </div>
    </section>
</div>
<footer class="footer"></footer>