* {
    font-family: Microsoft JhengHei;
}

body {
    background: url('../Content/images/ocean.jpg') no-repeat fixed left bottom;
    /*background: #0080A3 no-repeat fixed left bottom;*/
    background-size: cover;
    margin: 0;
}

.row-content-odd {
    background: #D6AE4E;
}

.row-content-even {
    background: #0080A3;
}

.row-content-first, .row-content-odd, .row-content-even {
    color: #fff;
    margin: 0 auto;
    padding: 50px 20px;
    font-size: 20px;
    align-self: center;
    height: calc(100vh - 150px);
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    height: 150px;
    right: 0;
    left: 0;
    z-index: 1;
}

.half {
    flex: 5;
    display: inline-block;
    min-width: 350px;
    vertical-align: top;
}



.header .info {
    height: 140px;
    background: #29387F;
    min-width: 600px;
    padding: 0 10%;
    position: relative;
    display: flex;
}

    .header .info .logo {
        display: inline-block;
        height: 90px;
        width: 90px;
        margin: 25px;
        background: url('../Content/images/17zone-logo.svg') no-repeat;
        background-size: contain;
    }

    .header .info .logo2 {
        display: inline-block;
        height: 90px;
        width: 210px;
        margin: 25px;
        background: url('../Content/images/17zone-logo3.svg') no-repeat;
        background-size: contain;
    }

.icons {
    background: url('../Content/images/icons.svg') no-repeat;
    background-size: contain;
    height: 40px;
    width: 300px;
    margin: 30px 80px;
    float: right;
}

.switchLanguage {
    margin: 90px 100px;
    text-align: right;
    color: #fff;
    font-size: 14px;
}

.header .nav {
    /* background: linear-gradient( #364d8e 0%, #1c284a 48%, #4665b9 100%); */
    background: #F0F0F0 no-repeat;
    background-size: cover;
    text-align: center;
    min-width: 600px;
}

    .header .nav .item {
        display: inline-block;
        color: #7B7B7B;
        font-weight: bold;
        padding: 0 10px;
        margin: 0 5px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        cursor: pointer;
    }

        .header .nav .item:hover {
            background: #9D9D9D;
            color: #fff;
        }

        .header .nav .item:active {
            background: #6C6C6C;
        }

.content {
    margin-top: 150px;
}

.vertical-middle {
    height: 100%;
}

.info-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.info-content p, .info-content span {
    margin: 0 5px;
}

.map {
    background: url('../Content/images/map.gif') no-repeat;
    background-size: cover;
    min-height: 20vw;
    height: 25vw;
}

.room1 {
    background: url('../Content/images/room1.png') no-repeat;
    background-size: cover;
    min-height: 20vw;
    height: 25vw;
}

.room2 {
    background: url('../Content/images/room2.png') no-repeat;
    background-size: cover;
    min-height: 20vw;
    height: 25vw;
}

.map, .room1, .room2 {
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
