<header class="header">
    <div class="info row">
        <div class="col-md-5 col-md-offset-1">
            <div class="logo anchor" data-item="1" style="cursor: pointer"></div>
            <div class="logo2 anchor" data-item="1" style="cursor: pointer"></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="icons"></div>
            <div class="switchLanguage">繁體中文</div>
        </div>
    </div>
    <div class="nav">
        <div class="item anchor" data-item="2">服務介紹</div>
        <div class="item anchor" data-item="3">潛水體驗</div>
        <div class="item anchor" data-item="4">住房資訊</div>
        <div class="item anchor" data-item="5">交通地圖</div>
        <div class="item anchor" data-item="6">活動公告</div>
        <div class="item anchor" data-item="7">聯絡我們</div>
    </div>
</header>

<div class="content">
    <section class="row-content-first row">

    </section>
    <section class="row-content-odd row">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="room1"></div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="info-content">
                <div>提供住宿</div>
            </div>
        </div>
    </section>
    <section class="row-content-even row">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="info-content">
                <div>課程介紹</div>
            </div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="room2"></div>
        </div>
    </section>
    <section class="row-content-odd row">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="room1"></div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="info-content">
                <div>房型簡介</div>
                <div>接駁服務</div>
            </div>
        </div>
    </section>
    <section class="row-content-even row">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="info-content">
                <div>交通資訊</div>
                <div>地圖位置</div>
                <div>靜態地圖提供</div>
            </div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="room2"></div>
        </div>
    </section>
    <section class="row-content-odd row">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="room1"></div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="info-content">
                <div>公告清單</div>
                <div>活動歷程 (FB連結)</div>
                <div>地址: 屏東墾丁.南灣路659號</div>
            </div>
        </div>
    </section>
    <section class="row-content-even row">
        <div class="col-md-4 col-md-offset-2 vertical-middle">
            <div class="info-content">
                <div>電話: (08)-888-1017</div>
                <div>郵件: 17diving@gmail.com</div>
                <div>地址: 屏東墾丁.南灣路659號</div>
            </div>
        </div>
        <div class="col-md-4 vertical-middle">
            <div class="map"></div>
        </div>
    </section>
</div>
<footer class="footer"></footer>